@model TNAUPMS.masscience
@{
    <div class="modal-content">
        <form method="post" asp-page-handler="Edit">

            <div class="modal-body">
                <table id="crcbooking" style="font-size:14px;" class="table table-sm  table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Code</td>
                            <td>
                                <input type="hidden" asp-for="@Model.id" id="id" name="id">
                                <input type="text" data-val="true" asp-for="@Model.code" data-val-required="The Code field is required." class="form-control" id="code" name="code">
                            </td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text" data-val="true" asp-for="@Model.scienceName" data-val-required="The Science Name field is required." class="form-control" id="scienceName" name="scienceName">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-sm btn-success">Submit</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </form>
    </div>
}
