<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Login</title></head>
    <body>
        <h1 align="center">Welcome to the Login Page</h1>
        <br>
        <form>
        <div align="center">Enter UserName:<input type="text"> </div>
        <br>
        <div align ="center">Enter Password:<input type="text"></div>
        <br>
        <div align="center"><input type="button" name="Submit" value="Submit" onclick=""><div>
        </form>
    </body>
</html>