@model Library.Models.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "MainLayout";
}
<html>
<body>
<h1>Delete</h1>

<h4>Book</h4>
<hr />
<div>
    <h4>Are you sure you want to delete this?</h4>
    <div>
        <h5>@Model.Title</h5>
        <h5>@Model.Author</h5>
    </div>
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="BookID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>