@model TNAUPMS.reportingModel
@{
    <div class="modal-content">
        <form method="post" asp-page-handler="FinalReportSave">

            <div class="modal-body">
             <table id="reporting" style="font-size:14px;" class="table table-sm  table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Task Name</td>
                            <td>
                                <input type="hidden" asp-for="@Model.id" id="id" name="id">
                                <input type="text" readonly class="form-control-plaintext" asp-for="@Model.taskName" >
                            </td>
                        </tr>
                        <tr>
                            <td>Date : </td>
                            <td><input type="date" data-val="true" asp-for="@Model.reportedDate" data-val-required="The reportedDate field is required." class="form-control" id="reportedDate" name="reportedDate"></td>
                        </tr>
                        <tr>
                            <td>Report Details</td>
                            <td><textarea class="form-control" asp-for="@Model.reportDetails" id="reportDetails" rows="3"></textarea></td>
                        </tr>
                        <tr>
                            <td>Files</td>
                            <td><input type="file" class="form-control-file" id="exampleFormControlFile1"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-sm btn-success">Submit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
}
