@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>Privacy Policy</div>

<p>

    Library Application is committed to protecting the privacy of its users. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our library management system.

    Information We Collect

    Personal Information: We may collect personal information such as your name, address, email address, phone number, and library card number when you register for a library account, borrow materials, or use our online services.

    Usage Data: We may collect information about your use of our website, such as your IP address, browser type, and pages visited.

    How We Use Your Information

    Library Services: We use your information to provide library services, such as managing your library account, processing book loans, and sending reminders.
    Communication: We may use your contact information to send you notifications, updates, or promotional materials related to the library.
    Analytics: We may use aggregated, anonymized data to analyze website traffic and improve our services.

    Information Sharing

    We do not share your personal information with third parties for marketing purposes. However, we may share your information with trusted partners who assist us in operating our library services, such as book delivery services or database providers. These partners are required to maintain the confidentiality of your information.

    Data Security

    We implement reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure.

    Your Rights

    You have the right to access, correct, or delete your personal information. You can also request to restrict the processing of your personal information or object to certain types of processing.

    Changes to This Privacy Policy

    We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting the new privacy policy on our website.

    Contact Us

    If you have any questions about this Privacy Policy, please contact us at [email protected]
</p>
